<div class="row">
    <div class="col-12">
        <mat-card class="pt-16 pr-16 pl-16">
            <ng-container *ngIf="(tableData$ | async) as tableData">
                <div class="data-table table-listing mb-16" style="overflow: auto;">
                    <table>
                        <thead>
                            <tr>
                                <ng-container *ngFor="let th of (tableHeads$ | async); let i = index">
                                    <th [ngClass]="{ 'd-none d-sm-table-cell' : !th.mobileView }">
                                        <div class="d-flex justify-content-between">
                                            <span>{{ th.label }}</span>
                                        </div>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tableData; let i = index">
                                <ng-container *ngFor="let th of (tableHeads$ | async)">
                                    <td *ngIf="item[th.key]" [ngClass]="{ 'd-none d-sm-table-cell' : !th.mobileView }">
                                        <ng-container *ngIf="!th.pipe">
                                            {{ item[th.key] }}
                                        </ng-container>
                                        <ng-container *ngIf="th.pipe">
                                            <ng-container *ngIf="th.pipe === 'date'">
                                                {{ item[th.key] | date: th.pipeFormat }}
                                            </ng-container>
                                            <ng-container *ngIf="th.pipe === 'number'">
                                                {{ item[th.key] | number }}
                                            </ng-container>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <ng-container *ngFor="let th of (tableHeads$ | async); let i = index">
                                    <th [ngClass]="{ 'd-none d-sm-table-cell' : !th.mobileView }">
                                        <div class="d-flex justify-content-between">
                                            <span>{{ th.label }}</span>
                                        </div>
                                    </th>
                                </ng-container>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </ng-container>
        </mat-card>
    </div>
</div>