.mat-expansion-panel {
    box-shadow: none !important;
}
.bg-default {
    background-color: color(container, bg) !important;
}
.mat-expansion-panel-body {
    padding: 0 !important;
}
.mat-paginator-container {
  min-height: auto !important;
}
.mat-card-header-text {
    margin: 0 !important;
}
.mat-raised-button {
    height: -webkit-fill-available;
}