<mat-grid-list cols="1" rows="1" rowHeight="100%">
    <mat-grid-tile>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h1>404 | NOT FOUND</h1>
                </div>
                <div class="col-12 text-center">
                    <p>Uh oh, we can't seem to find the page you're looking for.</p>
                </div>
                <div class="col-12 text-center">
                    <ng-container *ngIf="(authenticated$ | async) === false">
                        <button mat-raised-button color="primary" (click)="goTo('login')">Back to Login</button>
                    </ng-container>
                    <ng-container *ngIf="(authenticated$ | async)">
                        <button mat-raised-button color="primary" (click)="goTo('home')">Back to Home</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>