<mat-drawer-container autosize class="h-100-per bg-default">
    <mat-drawer-content>
        <app-toolbar></app-toolbar>
        <div class="container">
          <section class="p-16">
              <div class="row mb-16">
                  <div class="col-12">
                      <xng-breadcrumb></xng-breadcrumb>
                  </div>
              </div>
              <router-outlet></router-outlet>
            </section>
          </div>
    </mat-drawer-content>
</mat-drawer-container>